{% extends "base.html" %}
{% load static %}
{% block web_title %}更改密码{% endblock web_title %}
{% block big_title %}联邦学习{% endblock big_title %}
{% block content %}
{% if msg %}
    <script> alert('{{msg}}');location = '/password_change/'</script>
{% endif %}
	<div class="mainbody2">
    <form class="form-box2 front" action="/do_password_change/" method="post">
    {% csrf_token %}
      <div>
        <input class="input-normal" style="margin-bottom:3%;" type="text" name="username" autofocus placeholder="账户名" />
        <input class="input-normal" style="margin-bottom:3%;" type="text" name="old_password" maxlength="20" required placeholder="旧账户密码" />
        <input class="input-normal" style="margin-bottom:3%;" type="text" name="new_password" maxlength="20" required placeholder="新账户密码" />
		    <button class="btn-submit" style="margin-bottom:3%;" type="submit">
          修改
        </button>
      </div>
    </form>
    </div>
<script type="text/javascript" src="/static/js/show_time.js"></script>
{% endblock content %}